{% if ru %}
<p> Под охраной ЧП &quot;Правопорядок&quot; находится около 80 объектов, 
среди которых: </p>
<ul>
<li>Территориальное управление Государственной инспекции по энергосбережению 
в Харьковской области;</li>
<li>ЗАО &quot;Детский Мир&quot;;</li>
<li>ОАО &quot;Харьковский ЦУМ&quot;;</li>
<li>ювелирные магазины, пункты обмена валют, ломбарды;</li>
<li>общеобразовательные школы города Харкова;</li>
<li>ОАО &quot;Харковский автогенный завод&quot;;</li>
<li>компании &quot;GROMEX&quot;, &quot;АРТЕС-М&quot;, &quot;АВАНТИ&quot;</li>
</ul> и другие объекты.
{% endif %}
{% if ua %}
<p> Під охороною ПП &quot;Правопорядок&quot; знаходяться близько 80 об’єктів, 
серед яких: </p>
<ul>
<li>Територіальне управління 
Державної інспекції з енергозбереження по Харківській області;</li>
<li>ЗАТ &quot;Дитячий Світ&quot;;</li>
<li>ВАТ &quot;Харківський ЦУМ&quot;;</li>
<li>ювелірні магазини, пункти обміну валют, ломбарди;</li>
<li>загальноосвітні шкільні заклади міста Харкова;</li>
<li>ВАТ &quot;Харківський автогенний завод&quot;;</li>
<li>компанії &quot;GROMEX&quot;, &quot;АРТЕС-М&quot;, &quot;АВАНТІ&quot;</li>
</ul> та інші об’єкти.
{% endif %}
{% if en %}
<p> There are about 80 objects under protection of Private Enterprise &quot;Pravoporyadok&quot; 
among which: </p>
<ul>
<li>Territorial Administration of the State Inspectorate for Energy Conservation 
in the Kharkov region;</li>
<li>JSC &quot;Children's World&quot;; </li>
<li>JSC &quot;Kharkiv CDS&quot;;</li>
<li>jewelry shops, exchange offices, pawn shops;</li>
<li>secondary schools of the city;</li>
<li>JSC &quot;Kharkiv autogenous plant&quot;;</li>
<li>company &quot;GROMEX&quot;, &quot;ARTES-M&quot;, &quot;AVANTI&quot;</li>
</ul> and other objects.
{% endif %}

