{% if ru %}
<p> В январе 2013 года трудовой коллектив ЧП «Правопорядок» стал членом
Всеукраинской общественной организации
<a href="http://ufrnsb.kiev.ua">«Украинская федерация
профессионалов безопасности»</a>.</p>
{% endif %}
{% if ua %}
<p> У січні 2013 року трудовий колектив ПП «Правопорядок» став членом
Всеукраїнської громадської організації
<a href="http://ufrnsb.kiev.ua"> «Українська федерація
професіоналів безпеки»</a>.</p>
{% endif %}
{% if en %}
<p>In January 2013 the team of Ltd. «Pravoporyadok» has become a member
Ukrainian public organization
<a href="http://ufrnsb.kiev.ua">«Security Professionals
Ukrainian Federation»</a>.</p>
{% endif %}

{% if ru %}
<p>Одним из основных партнеров предприятия с начала работы охранного агентства
является Харьковский филиал ООО <a href=http://venbest.com.ua>«ВЕНБЕСТ»</a>,
группы быстрого реагирования которого выезжают по сигналу «тревога» или вызову на объекты ЧП «Правопорядок».</p>
{% endif %}
{% if ua %}
<p>Одним з основних партнерів підприємства з початку роботи охоронного агентства
є Харківська філія ТОВ <a href=http://venbest.com.ua>«ВЕНБЕСТ»</a>,
групи швидкого реагування якого виїжджають за сигналом «тривога» або викликом на об'єкти ПП «Правопорядок».</p>
{% endif %}
{% if en %}
<p>One of the main enterprise partners since the beginning of agency work
is Kharkov branch of Ltd. <a href=http://venbest.com.ua>«VENBEST»</a>. VENBEST's
Rapid Responce groups are reacting to alarm signals of our clients.</p>
{% endif %}

{% if ru %}
<p>С 14 января 2011 года согласно рекомендаций МВД Украины от 14.10.2010 № 19111/Рт,
состав групп быстрого реагирования усилен нарядами сотрудников милиции, вооруженных
табельным огнестрельным оружием.</p>
{% endif %}
{% if ua %}
<p>З 14 січня 2011 року на виконання рекомендацій
МВС України від 14.10.2010 № 19111/Рт, склад груп швидкого реагування посилений 
нарядами працівників міліції, озброєних
табельною вогнепальною зброєю.</p>
{% endif %}
{% if en %}
<p>From 14 January 2011 to implement the recommendations of
Ministry of Ukraine 14.10.2010 № 19111/Rt, the Rapid Response groups are 
reinforced with police workers, armed with guns. </p>
{% endif %}
