<p>
{% if ru %}Прайс-лист услуг охраны:{% endif %}
{% if ua %}Прайс-лист послуг охорони:{% endif %}
{% if en %}Price-list of security services:{% endif %}</p>
<table class="price">
<tr>
<td class="col1">№</td>
<td class="col2">
{% if ru %}Наименование{% endif %}
{% if ua %}Найменування{% endif %}
{% if en %}Name{% endif %}</td>
<td class="col3">
{% if ru %}Базовая единица{% endif %}
{% if ua %}Базова одиниця{% endif %}
{% if en %}Basic unit{% endif %}</td>
<td class="col4">
{% if ru %}Цена, грн{% endif %}
{% if ua %}Ціна, грн{% endif %}
{% if en %}Price, uah{% endif %}</td>
</tr>
<tr>
<td></td>
<td>
{% if ru %}УСЛУГИ ФИЗИЧЕСКОЙ ОХРАНЫ{% endif %}
{% if ua %}ПОСЛУГИ ФІЗИЧНОЇ ОХОРОНИ{% endif %}
{% if en %}PHYSICAL SECURITY SERVICES{% endif %}</td>
<td></td>
<td></td>
</tr>
<tr>
<td>1</td>
<td>
{% if ru %}Суточный пост охраны (24 часа){% endif %}
{% if ua %}Добовий пост охорони (24 години){% endif %}
{% if en %}Daily security post (24 hours){% endif %}</td>
<td>
{% if ru %}час.{% endif %}
{% if ua %}год.{% endif %}
{% if en %}hour{% endif %}</td>
<td>
{% if ru %}от 12 грн.{% endif %}
{% if ua %}від 12 грн.{% endif %}
{% if en %}from 12 uah{% endif %}</td>
</tr>
<tr>
<td>2</td>
<td>
{% if ru %}Почасовой пост охраны (от 8 до 16 часов){% endif %}
{% if ua %}Погодинний пост охорони (від 8 до 16 годин){% endif %}
{% if en %}Hourly security post (from 8 to 16 hours){% endif %}</td>
<td>
{% if ru %}час.{% endif %}
{% if ua %}год.{% endif %}
{% if en %}hour{% endif %}</td>
<td>
{% if ru %}от 14 грн.{% endif %}
{% if ua %}від 14 грн.{% endif %}
{% if en %}from 14 uah{% endif %}</td>
</tr>
<tr>
<td>3</td>
<td>
{% if ru %}Почасовой пост охраны (от 0 до 8 часов){% endif %}
{% if ua %}Погодинний пост охорони (від 0 до 8 годин){% endif %}
{% if en %}Hourly security post (from 0 to 8 hours){% endif %}</td>
<td>
{% if ru %}час.{% endif %}
{% if ua %}год.{% endif %}
{% if en %}hour{% endif %}</td>
<td>
{% if ru %}от 15 грн.{% endif %}
{% if ua %}від 15 грн.{% endif %}
{% if en %}from 15 uah{% endif %}</td>
</tr>
<tr>
<td>4</td>
<td>
{% if ru %}Содержание служебной собаки (за месяц){% endif %}
{% if ua %}Утримання службового собаки (за місяць){% endif %}
{% if en %}Hold a company dog (per month){% endif %}</td>
<td>
{% if ru %}собака{% endif %}
{% if ua %}собака{% endif %}
{% if en %}dog{% endif %}</td>
<td>
{% if ru %}от 450 грн.{% endif %}
{% if ua %}від 450 грн.{% endif %}
{% if en %}from 450 uah{% endif %}</td>
</tr>
<tr>
<td>5</td>
<td>
{% if ru %}Услуги начальника охраны (за месяц){% endif %}
{% if ua %}Послуги начальника охорони (за місяць){% endif %}
{% if en %}Head of security services (per month){% endif %}</td>
<td>
{% if ru %}нач. охраны{% endif %}
{% if ua %}нач. охраны{% endif %}
{% if en %}head of sec.{% endif %}</td>
<td>
{% if ru %}от 1400 грн.{% endif %}
{% if ua %}від 1400 грн.{% endif %}
{% if en %}from 1400 uah{% endif %}</td>
</tr>
<tr>
<td>6</td>
<td>
{% if ru %}Охрана общественного порядка{% endif %}
{% if ua %}Охорона громадського порядку{% endif %}
{% if en %}Protection of civil order{% endif %}</td>
<td>
{% if ru %}час.{% endif %}
{% if ua %}год.{% endif %}
{% if en %}hour{% endif %}</td>
<td>
{% if ru %}от 15 грн.{% endif %}
{% if ua %}від 15 грн.{% endif %}
{% if en %}from 15 uah{% endif %}</td>
</tr>
<tr>
<td>7</td>
<td>
{% if ru %}Сопровождение и перевозка материальных ценностей{% endif %}
{% if ua %}Супроводження та перевозка матеріальних цінностей{% endif %}
{% if en %}Escort and transportation of material values{% endif %}</td>
<td>
{% if ru %}км.{% endif %}
{% if ua %}км.{% endif %}
{% if en %}km.{% endif %}</td>
<td>
{% if ru %}от 5 грн.{% endif %}
{% if ua %}від 5 грн.{% endif %}
{% if en %}from 5 uah{% endif %}</td>
</tr>
<tr>
<td>8</td>
<td>
{% if ru %}Охрана и сопровождение групп{% endif %}
{% if ua %}Охорона та супроводження груп{% endif %}
{% if en %}Protection and support groups{% endif %}</td>
<td>
{% if ru %}час.{% endif %}
{% if ua %}год.{% endif %}
{% if en %}hour{% endif %}</td>
<td>
{% if ru %}от 14 грн.{% endif %}
{% if ua %}від 14 грн.{% endif %}
{% if en %}from 14 uah{% endif %}</td>
</tr>
<tr>
<td></td>
<td>
{% if ru %}УСЛУГИ ОХРАНЫ С ПОМОЩЬЮ
ПУЛЬТА ЦЕНТРАЛИЗОВАННОГО НАБЛЮДЕНИЯ{% endif %}
{% if ua %}ПОСЛУГИ ОХОРОНИ ЗА ДОПОМОГОЮ
ПУЛЬТА ЦЕНТРАЛІЗОВАНОГО СПОСТЕРЕЖЕННЯ{% endif %}
{% if en %}SECURITY SERVICES USING 
CENTRALIZED MONITORING CONSOLE{% endif %}</td>
<td></td>
<td></td>
</tr>
<tr>
<td>1</td>
<td>
{% if ru %}Охрана объектов ПЦН (за месяц){% endif %}
{% if ua %}Охорона об’єктів ПЦС (за місяць){% endif %}
{% if en %}Protection of CMC ibjects (per month){% endif %}</td>
<td>
{% if ru %}объект{% endif %}
{% if ua %}об’єкт{% endif %}
{% if en %}object{% endif %}</td>
<td>
{% if ru %}от 250 грн.{% endif %}
{% if ua %}від 250 грн.{% endif %}
{% if en %}from 250 uah{% endif %}</td>
</tr>
<tr>
<td>2</td>
<td>
{% if ru %}Тревожная сигнализация (за месяц){% endif %}
{% if ua %}Тривожна сигналізація (за місяць){% endif %}
{% if en %}Burglar alarm (per month){% endif %}</td>
<td>
{% if ru %}объект{% endif %}
{% if ua %}об’єкт{% endif %}
{% if en %}object{% endif %}</td>
<td>
{% if ru %}от 250 грн.{% endif %}
{% if ua %}від 250 грн.{% endif %}
{% if en %}from 250 uah{% endif %}</td>
</tr>
<tr>
<td>3</td>
<td>
{% if ru %}Охранно-тревожная сигнализация (за месяц){% endif %}
{% if ua %}Охоронно-тривожна сигналізація (за місяць){% endif %}
{% if en %}Protection-burglar alarm (per month){% endif %}</td>
<td>
{% if ru %}объект{% endif %}
{% if ua %}об’єкт{% endif %}
{% if en %}object{% endif %}</td>
<td>
{% if ru %}от 300 грн.{% endif %}
{% if ua %}від 300 грн.{% endif %}
{% if en %}from 300 uah{% endif %}</td>
</tr>
<tr>
<td>4</td>
<td>
{% if ru %}Наблюдение за объектом (за месяц){% endif %}
{% if ua %}Спостереження за об’єктом (за місяць){% endif %}
{% if en %}Object observation{% endif %}</td>
<td>
{% if ru %}объект{% endif %}
{% if ua %}об’єкт{% endif %}
{% if en %}object{% endif %}</td>
<td>
{% if ru %}от 100 грн.{% endif %}
{% if ua %}від 100 грн.{% endif %}
{% if en %}from 100 uah{% endif %}</td>
</tr>
</table>
