<p>
{% if ru %}Базовые услуги охраны представлены в <a href="price">прайс-листе.</a>{% endif %}
{% if ua %}Базові послуги охорони представлені в <a href="price">прайс-листі.</a>{% endif %}
{% if en %}Base security services are presented in the <a href="price">price-list.</a>{% endif %}
</p>
<p>{% if ru %}Кроме этого специалисты предприятия могут качественно 
выполнить следующие виды работ:{% endif %}
{% if ua %}Крім того спеціалісти підприємства зможуть якісно 
зробити наступні види робіт:{% endif %}
{% if en %}In addition, our specialists can perform the following 
types of work with great quality:{% endif %}</p>
<ul>
<li>
{% if ru %}Сигнализация (автономно или с подключением на пульт централизованного наблюдения),
проектирование, монтаж, доставка оборудования, гарантия;{% endif %}
{% if ua %}Сигналізація (автономно або з підключенням на пульт централізованого спостереження),
проектування, монтаж, доставка обладнання, гарантія;{% endif %}
{% if en %}Alarm (stand-alone or connected to the central monitoring center on the client's demand)
design, equipment delivery, installation, warranty;{% endif %}</li>
<li>
{% if ru %}Видеонаблюдение, домофоны, электрозамки, регистрация информации
на компьютер или регистратор;{% endif %}
{% if ua %}Відеоспостереження, домофони, електрозамки, реєстрація інформації 
на комп’ютер або реєстратор;{% endif %}
{% if en %}CCTV, intercoms, electrolocks, information registration
to a computer or recorder;{% endif %}</li>
<li>
{% if ru %}Контроль и наблюдение за подвижными объектами, их охрана;{% endif %}
{% if ua %}Контроль та спостереження за рухомими об'єктами, їх охорона;{% endif %}
{% if en %}Сontrol and security of transporting vehicles;{% endif %}</li>
<li>
{% if ru %}Системы контроля доступа, учет рабочего времени персонала.{% endif %}
{% if ua %}Системи контролю доступу, облік робочого часу персоналу.{% endif %}
{% if en %}Systems Access Control, accounting of staff work time.{% endif %}</li>
</ul>
