*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out; /*плавность переходов для всех элементов страницы*/
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #2a5885;
}
img {
  display: block;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color: #6e6e6e;
  padding: 10px 0;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}

.slight_shadow {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.6) inset, 0 0 7px rgba(0,0,0,0.4), 0 0 0 rgba(0,0,0,0.33);
  -webkit-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}

/* очистка потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
  content: "";
  display: table;
  clear: both;
} 

/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
  position: relative;
}
.main {
  line-height: 1.5;
  text-align: justify;
}

.main li {
  padding: 1em 0 0 2em;
}
.main p {
  padding-bottom: 1em;
  text-align: justify;
}
header {
  width: 100%;
  background: white;
  box-shadow: 3px 3px 1px rgba(0,0,0,.05);
  padding: 15px 0;
  margin-bottom: 30px;
  position: relative;
}
nav {
  width: 100%; 
}

/* логотип */
.logo {
  display: block; 
  float: left;
  max-width: 180px;
  margin-right: 25px;
}
.organization {
  display: block; 
  float: left;
  margin: 25px 0;
}
.organization #name {
  font-size: 3em;
  text-transform: uppercase;
}
.organization #slog {
  font-size: 1.1em;
}
.phone-main {
  display: block;
  float: left;
  margin: 30px 0;
  font-size: 2.2em;
}
.coat {
  position:relative;
  display: block; 
  float: right;
  padding-top: 10px;
  max-width: 70px;
}

.contacts {
  width: 50%;
  float: left;
}

/* меню */
#menu {
  position: absolute;
  right: 15px;
  bottom: 0;
}

#menu li {
  display: inline-block;
  margin-right: 30px;
  border: 1px solid rgba(156, 191, 235, 0);
}
#menu li:hover {
  border-bottom: 1px solid rgba(156, 191, 235, .3);
}
#menu li.active {
  border-bottom: 1px solid rgba(156, 191, 235, .3);
}
#menu a {
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  line-height: 40px;
}
#menu a:hover {
color: #9cbfeb;
}
#menu li:last-child  {
margin-right: 0;
}
.line{
  height: 1px;
  margin: 5px 0;
  background: #CCC;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255,255,255,1)), color-stop(0.15, rgba(204,204,204,1)), color-stop(0.85, rgba(204,204,204,1)), color-stop(0.99, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 15%, rgba(204,204,204,1) 85%, rgba(255,255,255,1) 99%);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 15%, rgba(204,204,204,1) 85%, rgba(255,255,255,1) 99%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 15%, rgba(204,204,204,1) 85%, rgba(255,255,255,1) 99%);
  background: linear-gradient(left, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 15%, rgba(204,204,204,1) 85%, rgba(255,255,255,1) 99%);
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background: #EF5A42;
  cursor: pointer;
}
.nav-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}

/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню */
#menu.active {
  max-height: 130px;
  position: relative;
  right: none;
  bottom: none;
}

/* Подвал */
footer {
  padding: 30px 0;
  background: #3C3D41;
  color: white;
}
.footer-col {
  width: 50%;
  float: left;
  white-space: nowrap;
}
.footer-col a {
  color: white;
}
.footer-col:last-child {
  text-align: right;
  float: right;
}

/* форма подписки */
#subscribe {
  position: relative;
  width: 100%;
  padding: 15px 0;
}
#subscribe input {
  width: 100%;
  display: block;
  float: left;
  border: 2px solid #EBEBE3;
  padding: 0 0 0 10px;
  height: 40px;
  position: relative;
  outline: none;
  color: #9E9C9C;
  font-style: italic;
}
#subscribe button {
  padding: 0 15px;
  background: transparent;
  height: 40px;
  border: none;
  position: absolute;
  right: 0;
  color: #EF5A42;
  cursor: pointer;
  font-size: 18px;
}
#subscribe input:focus + button {
  background: #EF5A42;
  color: white;
}

/* Карта */
#map {
  height: 400px;
  width: 100%;
  margin: 50px 0;
}

/* Services */
.box_services {
  display: flex;
  width: 100%;
  border: 1px solid #e7e8ec;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.6) inset, 0 0 7px rgba(0,0,0,0.4), 0 0 0 rgba(0,0,0,0.33);
  -webkit-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}
.box_services:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.thumb_service {
  position: relative;
  float: left;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  margin: auto;
}
.thumb_service img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  display: block;
}
.service_info {
  text-align: center;
  width: 55%;
  float: right;
  margin: auto;
}
.service_name {
  color: #2a5885;
  text-decoration: none;
  cursor: pointer;
  font-size: 20pt;
}
.service_name:hover img {
  text-decoration: underline ;
}
.service_desc {
  font-size: 12px;
  overflow: hidden;
  color: #656565;
}
/* Services */

/* Табы */
.tabs {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.tabs > input {
  display: none;
}

.tabs > div {
  display: none;
  padding: 12px;
  border: 1px solid rgba(156, 191, 235, .3);
  border-radius: 3px;
  background: #FFF;
  margin-bottom: 15px;
}

.tabs > label {
  display: inline-block;
  padding: 7px;
  margin: 0 -5px -1px 0;
  text-align: center;
  font-size: 20px;
  color: #666;
  border: 1px solid rgba(156, 191, 235, .3);
  border-radius: 3px;
  background: rgba(156, 191, 235, .3);
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.tabs > label:hover {
  border: 1px solid rgba(156, 191, 235, .3);
  border-radius: 3px;
  background: #FFF;
}

.tabs > input:checked  + label {
  color:#000;
  border: 1px solid rgba(156, 191, 235, .3);
  border-bottom: 1px solid #FFF;
  border-radius: 3px;
  background: #FFF;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#tab_1:checked  ~ #txt_1, 
#tab_2:checked  ~ #txt_2, 
#tab_3:checked  ~ #txt_3, 
#tab_4:checked  ~ #txt_4, 
#tab_5:checked  ~ #txt_5 {display:block;}
/* Табы */

fieldset {
  border: 1px solid rgba(156, 191, 235, .3);
  border-radius: 3px;
  margin: 1em 0 1em 0;
  padding: 0 1em 1em;
  background: #FFF;
}


@media (max-width: 768px) {
/* показываем кнопку для переключения верхней навигации */
.nav-toggle {
  display: block;
}
header {
  padding: 10px 0;
}
/* отменяем обтекание для логотипа */
.logo {
  float: left;
  margin-bottom: 0px;
  margin-right: 15px;
  max-width: 95px;
}
.organization {
  margin-top: 0px;
  text-align:left;
  float: none;
}
.organization #name {
  font-size: 2em;
}
.organization #slog {
  font-size: 1em;
}
.coat {
  display: none;
}
.phone-main {
  display: block;
  margin: 30px 0;
  font-size: 2.2em;
}
.contacts {
  width: 100%;
}

.thumb_service {
  width: 150px;
  height: 150px;
}
.thumb_service img {
  width: 150px;
  height: 150px;
  margin: auto;
}
.service_info {
  width: 60%;
  margin-top: 25px;
  margin: auto;
}

/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */ 
#menu {
  max-height: 0;
  background: white;
  float: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}
/* делаем элементы списка блочными, чтобы они располагались друг под другом */
#menu li {
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #EBEBE3;
  margin-right: 0;
}
/* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
.posts-list, aside {
  width: 100%;
  float: none;x
}
.widget-post-title {
  font-size: 1.5em;
}
}
@media (max-width: 480px) {
/* выравниванием логотип по центру */
nav {
  text-align: center;
}
/* отменяем обтекание для логотипа */
.logo {
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
}
.organization {
  margin-top: 0px;
  text-align:center;
  float: none;
}
.organization #name {
  display: none;
}
.organization #slog {
  display: none;
}
.coat {
  display: none;
}
.phone-main {
  display: block;
  margin: 40px 0;
  font-size: 1.8em;
}

.box_services {
  text-align: center;
}
.thumb_service {
  display: none;
}
.service_info {
  width: 100%;
  margin-top: 10px;
  margin: auto;
}

/* отменяем обтекание для столбцов подвала страницы */
.footer-col {
  float: none;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.footer-col:last-child {
  text-align: center;
  margin-bottom: 0;
}
}
